$background: default;
$panel: default;
$titleBackground: #1f2833;
$mainTitle: #45a29e;
$title: #45a29e;
$text: #1f2833;
$border: #c5c6c7;
$green: #61892f;
$blue: #81a2be;
$red: #cc6666;

@media all {

  body {
    background: $background;
    color: $text;
    font-family: 'Quicksand', sans-serif;
  }

  a {
    text-decoration: none;
    color: $blue ;
    &:hover {
      color: $red;
    }
  }

  p {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5em;
    padding: .1em .7em;
  }

  h1 {
    color: $mainTitle;
  }

  h2 {
    margin-top: 0;
    font-size: 32px;
  }

  h3, h4 {
    padding: .7em;
    margin-bottom: .7em;
    margin-top: 0;
    font-size: 15px;
    color: $title;
    border: 2px solid $border;
    border-left: none;
    border-right: none;
  }

  h5 {
    margin: 0;
    padding: 0;
    padding-left: .7em;
    font-size: 15px;
    color: $title;
  }

  ul {
    font-size: 15px;
    list-style-type: square;
    color: $blue;
    padding-left: 15px;
    margin: 0 0 .7em 0;
    padding: 4px 0 4px .7em;
    list-style: none;
    .fact-list {
      color: $text;
    }
    .fact-list-description {
      color: $green;
    }
    li {
      margin-bottom: 2px;
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header"
    "jumbotron"
    "picture"
    "about"
    "main";
    @media only screen and (min-width: 770px) {
      grid-template-columns: 500px 245px;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
      "header header"
      "jumbotron picture"
      "main about"
      "main goal";
      max-width: 800px;
      grid-column-gap: 1.2em;
    }
    @media only print {
      grid-template-columns: 530px 245px;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
      "header header"
      "jumbotron picture"
      "main about"
      "main goal";
    }
    margin: 0 auto;
    grid-row-gap: 4px;
  }

  header {
    grid-area: header;
    border-bottom: 2px solid $border;
    h1 {
      margin-bottom: 0;
      font-size: 4em;
    }
  }

  main {
    grid-area: main;
    article p:last-child {
      margin-bottom: 25px;
    }
  }


  .jumbotron {
    grid-area: jumbotron;
    .center {
      @media (min-width: 770px) {
        margin-top: 3.5em;
      }
      margin: 2em 0 1em 0;
      text-align: center;
    }
    h2 {
      margin-top: .2em;
      margin-bottom: 0;
    }
    h4 {
      border: none;
      padding: 0;
    }
    p {
      width: 75%;
      margin: auto;
    }
  }

  .picture {
    grid-area: picture;
    text-align: center;
    img {
      border-radius: 50%;
      margin: 1em 0;
    }
  }

  .about {
    grid-area: about;
    h5 {
      margin: 0;
      padding: 0;
      padding-left: .7em;
    }
  }

  .goal {
    grid-area: goal;
  }

}


@media only screen {
  .printhref {
    display: none;
  }
}

@media only print {
  .hide-on-print {
    display: none;
  }

  .printhref {
    display: inline;
  }

}
