<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {{ $styles := resources.Get "sass/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand"> 
    <title>Greatman Lim CV</title>
  </head>

  <body>

    <div class="main-grid">
      <header><h1>CV</h1></header>
      <div class="picture"><img src="/greatman-lim.jpg" alt=""></div>
      <div class="jumbotron">
        <h2>Greatman Lim</h2>
        <h4>ohjelmoija - graafinen suunnittelija</h4>
        <div class="center">
          <p>Työkiinnostukseni tällä hetkellä ovat web devaus (fullstack, frontend, backend), tekoäly ja data-analyysi. Käy katsomassa <a href="https://github.com/Gredu">Github</a>.</p>
        </div>
      </div>
      <main>
        {{ range .Site.Taxonomies.categories.item }}
        <article>
          <h3>{{ .Params.startYear }} {{ with .Params.endYear }}- {{ . }}{{ end }} {{ .Title }} {{ with .Description }}<span class="description">{{ . }}</span>{{ end }}</h3>
          {{ .Content }}
        </article>
        {{ end }}
      </main>
      <div class="about">

        <h4>Yleistä</h4>

        {{ range .Site.Data.facts.facts }}
        <h5>{{ .label }}</h5>
        <ul>
          {{ range .items }}
          <li class="fact-list">
            <span class="fact-list">
              {{ with .link }}
                <a href="{{ . }}">
              {{ end }}
              {{ .fact | markdownify }}
              {{ with .link }}
                </a>
              {{ end }}
            </span>
            {{ $foo := "" }}
            {{ with .printhref }}
              <span class="printhref"> : {{ . }}</span>
              {{ $foo = "hide-on-print" }}
            {{ end }}
            {{ with .description }}
            <span class="fact-list-description {{ $foo }}">{{ . }}</span>
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}

        {{ with .Site.GetPage "/tavoitteet.md" }}
        <div class="goal">
          <h4>{{ .Title }}</h4>
          {{ .Content }}
        </div>
        {{ end }}

  </body>

</html>
